/*codigo evento
    ---------
    -----------*/


div#general{
    margin:auto;/*bordes*/
    margin-top:50px;
    width:1200px;
    height:800px;
    background-color:white;
}



div#containerizq{
    float:left;
    width:256px;
    height:800px;
    display:block;
    position:relative;
}

div#imagenEven{
    float:right;
    width:256px;
    height:256px;
    background-color:green;
}


div#DetallesEve{
    margin-top:25px;
    float:right;
    width:256px;
    height:335px;
    background-color:blue;
}

div#LugarEve{
    width:256px;
    height:40px;
    background-color:white;
}

div#FechaEve{
    width:256px;
    height:40px;
    background-color:white;
}

div#HoraEve{
    width:256px;
    height:40px;
    background-color:white;
}

div#AsistentesEve{
    width:256px;
    height:40px;
    background-color:white;
}



div#botonesEve{
    float:left;
    width:256px;
    height:219px;
    background-color:white;
}



div#botonesEve ul{
    list-style:none;
}

div#botonesEve ul li{
    margin-top:15px;/*espacio entre botones*/
    font-family:Tahoma;
    font-size:18px; /*tamaño del borde*/
    background-color:#6c6a6a;
    width:160px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:0px 20px 20px 0px;
    padding-left:20px;
    box-shadow:5px 0px 10px #939393;
    -webkit-transition:padding-left 0.6s;
    color:white;

}
div#botonesEve ul li:hover{
    padding-left:40px;
}


div#Centro{
    float:left;
    width:800px;
    height:800px;
    background-color:black;
}

div#DescripcionEven{
    width:800px;
    height:400px;
    background-color:white;
}

div#ComentariosEven{
    width:800px;
    height:400px;
    background-color:yellow;
}